
body {
  font-family: 'Varela Round', 'roboto', sans-serif;
  background-color: antiquewhite;
  color: darkslategrey;
  padding: 30px;
  text-align:center;
  border:5px;
  border-color: black;
  margin-left: 14%;
  margin-right:14%;
  word-wrap: break-word;
  
}
section, ul {
  border: 3px;
  border-color: burlywood;
  border-style: ridge;
  background-color: LightGoldenRodYellow;
  list-style-position: inside;
  list-style-type:none;
  padding-top: 4%;


}
section {    
  text-align: left;
  text-indent: 45px;
  padding-left: 5%;  
  padding-right: 5%;
}
h1, h2 {
  color:sienna;
     text-shadow: 2px 2px 5px peru;
}
nav, ul {
  border: 3px;
  border-color: burlywood;
  border-style: ridge;
  padding: 1%;
  margin-left: 30%;
  margin-right: 30%;

}
#HCB_comment_box{border: 2px solid #FFFFFF; border-radius: 5px; padding: 10px; color:#FFFFFF; background: rgba(0, 0, 0, 0.5);}
.hcb-mod b{color:#0088AF;}
#HCB_comment_box textarea,#HCB_comment_box input.text{
  border-top:1px solid #e4e4e4;border-left:1px solid #e4e4e4;border-bottom:1px solid #eaeaea;border-right:1px solid #eaeaea;background-color:#f8f8f8; max-width:90%;}
#HCB_comment_box .hcb-wrapper-half{display:block;width:50%;float:left;}
#HCB_comment_box .hcb-wrapper{clear:both;}
#HCB_comment_box input.text{display:block;width:95%;}
#HCB_comment_box input.submit{border-top:1px solid #FCB1A2;border-left:1px solid #FCB1A2;border-bottom:1px solid #BB2B0F;border-right:1px solid #BB2B0F;background-color:#F26646;color:#000;font-weight:bold;cursor:pointer;}
#HCB_comment_box div.comment{color:#FDB3A5; background: rgba(0, 0, 0, 0.5); border:3px double #F26646 ; margin:5px; padding:2px;}
#HCB_comment_box .comment .likes{color: #00FF00;}
#HCB_comment_box .hcb-link{color:#0088AF;text-decoration:none;} 




a:link {
  color: red;
}

a:visited {
  color: darkred;
}

a:hover {
  color: blue;
}

a:active {
  color: darkblue;
}