
body {
  font-family: 'Varela Round', 'roboto', sans-serif;
  background-color: antiquewhite;
  color: darkslategrey;
  padding: 10px;
  border:5px;
  border-color: black;
  margin-left: 12.5%;
  margin-right:12.5%;
  word-wrap: break-word;  
}
section, ul {
  border: 3px;
  border-color: burlywood;
  border-style: ridge;
  background-color: LightGoldenRodYellow;

}

section {    
  text-align: center;
  padding:2.5%;
}

p, container {
  text-align:center;
  padding:5%;

}

.container {
  position: relative;
  margin: auto;
  color: white;
  width:90%;
}

img {
  width: 100%;    
  display: block;
  margin: auto;
  height: auto;
}
.tanSprite {
  position: absolute;
  display: flex;
  margin-left:35%;
  margin-right:35%;
	max-width:20vw;
	bottom:10%;
	
}
.theTanInfo{
  text-align: center;
  position: absolute;
  font-size: min(1.5vw, 56px);
  bottom: 77%;
  left: 35%;
  right: 35%;
  height: 15%;
  max-height: min(7.5vw, 25%);
  line-height: 1.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.6));
}

nav {
  padding-top:1%;
  padding-bottom:1%;
  text-indent:0.1px;
  min-width:20.4%;

}

.tanMove {
   position: absolute;
    margin: auto;
    bottom: 80%;
    min-width: 100%;

}

.tanMoveBut {
  margin-left:16%;
  margin-right:16%;
  cursor: pointer;
  max-width:5%;
  min-width:5%;
  display: revert;
}
.allPanel {
  position: absolute;
  max-width: 21%;
  margin-left:15%;
  bottom: 17%;
  box-shadow:rgba(0,0,0,0.4) 0px 0px 5px;
  border-radius: 2px;
}
.panelOpen {
position:absolute;
}
.panelIcons {
  position: absolute;
  display: flex;
  max-width:20%;
  width:20%;
  margin-left:4.5%;
  bottom: 95%;
  left: 2px;
}
.panelIconsBut {
  cursor: pointer;
  width:100%;
  min-width:100%;
}

.statBars {
  bottom:103%;
  top:-3%;
  text-align:left;
  margin-left:34%;
  position:absolute;
  padding:.5%;

}

.tiredIcon, .energyIcon  {
  display: inline-table;
  width:80.5%;
  height:90%;
  margin-top:42.5%;
}


.itemDisplay {
position:absolute;
display:flex;
bottom:2%;
margin-left:65%;
}
#food, #clean, #hand {
max-height:5vw;
}
.handCursor{
  cursor: url("https://schoolworkcity.neocities.org/tanroom/sprites/cursors/handCurSm.png"), auto;
}
.foodCursor{
  cursor: url("https://schoolworkcity.neocities.org/tanroom/sprites/cursors/foodCurSm.png"), auto;
}
.cleanCursor{
  cursor: url("https://schoolworkcity.neocities.org/tanroom/sprites/cursors/cleanCurSm.png"), auto;
}
.noClick {
  pointer-events:none
}
