
body {
  font-family: 'Varela Round', 'roboto', sans-serif;
  background-color: antiquewhite;
  color: darkslategrey;
  padding: 10px;
  border:5px;
  border-color: black;
  margin-left: 12.5%;
  margin-right:12.5%;
  word-wrap: break-word;
  
}
section, ul {
  border: 3px;
  font-size: 12px;
  border-color: burlywood;
  border-style: ridge;
  background-color: LightGoldenRodYellow;
  max-height:0px;
  min-width:400px;
  margin-top:50px;
  text-align:center;
  display: flow-root;

}
/*ignore how it says flow-root isnt real its real*/

p, container {
  text-align:center;
  padding:1%;
  color: darkred;
}
h2, h1 {
  text-align:center;
  text-indent:0px;
  color:firebrick;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

nav {
  padding-top:1%;
  padding-bottom:1%;
  text-indent:0.1px;
  width:20.4%;

}

.row {    
  float: left;
  width: 33.33%;
  text-indent: 0px;
  
}
.bordered {
  padding:2%;
  overflow: auto;
  border: 2px;
  border-style: ridge;
  border-color:burlywood;
  margin-top: 20px;
  min-height: 400px;
}
.product {
  display: flex;
  border:2px;
  border-style:ridge;
  border-color:tan;
  background:cornsilk;
  margin-bottom:10px;
}
button {
  background:#f7f0d2;
  border-color:burlywood;
  font-weight:bold;
  color:seagreen;
}
.theapple {
  display: inline;
  cursor: pointer;
  padding:0%;
  
}
.notapple {
  position: static;
}
#saveText {
  display:none;
}


#appleImg {
  height: 200px;
  width: 200px;
  cursor: pointer;

}
#appleImg.click {
  animation: squeeze .25s;
  }
@keyframes squeeze {
  0%{height: 200px;}
  60%{height: 180px;width:180px;}
  70%{height: 185px; width:185px;}
  100%{height: 200px;}
}


button {
  cursor: pointer;
}

